@import "tailwindcss";

@theme {
  --color-1: #58F7BC;
  --color-2: #A48AF4;
  --color-3: #78dcca;
}



* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}